<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.test.repository.TestRepository">

    <resultMap id="resultMap" type="com.test.test.domain.Menu">
        <id property="menu" column="Menu"></id>
        <result property="count" column="COUNT"></result>
    </resultMap>

    <select id="getDual" resultMap="resultMap">
        SELECT MENU FROM MENU WHERE PRICE = 2000
    </select>



</mapper>